/* Macro */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 60%;
  height: 400px;
  margin: 150px auto;
  position: relative;
}

.item {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}

/* Img */

.active {
  display: block;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Arrows */

.previous,
.next {
  position: absolute;
  font-size: 2rem;
}

.previous {
  top: 22%;
  left: 50%;
  z-index: 100;
}

.next {
  bottom: 22%;
  left: 50%;
  z-index: 100;
}

.hidden {
  display: none;
}

i:hover {
  cursor: pointer;
}

h2, 
p {
  color: white;
  text-align: end;
  font-family: Arial, Helvetica, sans-serif;
}

.description {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  left: 4rem;
}